-
  var infoData = {
    title: 'Международные перевозки грузов с «Экспедитор Сервис»',
    infoText: [
      {
        text: 'Международные перевозки грузов - это одно из ведущих направлений деятельности нашей компании. '
      },
      {
        text: 'Успешно организуем международные грузоперевозки из Китая, Европы с использованием различного вида транспорта и предоставляем полный комплекс услуг по организации данных грузоперевозок.'
      },
    ]
  }
