-
  var infoData = {
    title: '«ЕС Транспорт» – логистическая Компания в России',
    infoText: [
      {
        text: 'Специалисты логистической Компании «АМГ-ФОРВАРДИНГ» знают, как организовать перевозки во все регионы России. Мы предлагаем не только отдельные услуги, но также организовываем комплексные работы. Мы не только динамично развивающаяся компания, но и команда профессионалов логистики.'
      },
      {
        text: 'Мы стремимся к постоянному развитию, регулярно расширяя перечень предлагаемых услуг.\n Уже сейчас вы можете обратиться к специалистам «АМГ-ФОРВАРДИНГ», чтобы заказать\n логистические услуг по международным перевозкам. Мы предложим комплексные решения\n для ваших задач.'
      },
    ]
  }
