-
  var feedbackData = {
      title: 'НАПИШИТЕ НАМ!',
      text: 'Сроки и стоимость международной перевозки грузов и товаров Тарифы на международные грузоперевозки формируются под влиянием целого ряда факторов. Причем у каждого типа транспорта эти факторы разные. Так цены на международные автомобильные грузоперевозки формируются исходя из: протяженности маршрута; сложности оформления сопроводительных документов; величины оплаты труда водителя; сроков доставки; качества дорог; стоимости топлива в пересекаемых странах; дополнительных расходов (паромы, платные дороги и т.д.). Узнать стоимость международной перевозки грузов на любом транспорте можно с помощью формы обратной связи или написав нам на почту.'
    };
