-
  var feedbackData = {
      title: 'НАПИШИТЕ НАМ!',
      text: 'Для заказа перевозки грузов вполне достаточно нам написать или позвонить. Точно указанные сведения – а это габариты груза, его характеристики и вес, количество мест, пункты назначения и отправки – помогут специалисту просчитать действительно оптимальные варианты его доставки.'
    };
