-
  var footerData = {
      mail: "Email: ekspeditorservis@gmail.com",
      mailType: "ekspeditorservis@gmail.com",
      tel: "Тел. +7 (911) 775-91-45",
      telType: "+79117759145",
      rec: "ИНН: 7839069704 КПП: 781001001",
      adress: "Адрес: 198152, Санкт-Петербург г, вн.тер.г. муниципальный округ Автово, ул Краснопутиловская, д. 69, литера А, офис 507В",
      adressLink: "https://goo.gl/maps/QqPdPni5wBFjN17J7",
      map: "<iframe src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2003.3519434530606!2d30.282823296374914!3d59.85990210366169!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46963a9594ec2383%3A0x16b9bcc5ff5e4c5c!2z0JrRgNCw0YHQvdC-0L_Rg9GC0LjQu9C-0LLRgdC60LDRjyDRg9C7LiwgNjksINCh0LDQvdC60YIt0J_QtdGC0LXRgNCx0YPRgNCzLCAxOTgxNTI!5e0!3m2!1sru!2sru!4v1672021120795!5m2!1sru!2sru' style='border:0;' allowfullscreen='' loading='lazy' referrerpolicy='no-referrer-when-downgrade'></iframe>",
    };
