-
  var modulesData = [

    {
      link: "#",
      title: "Авто грузоперевозки",
      path: "content",
      name: "air",
      format:"jpg",
      width:"244",
      height:"373",
      altText:"air",
      infoTitle: "Авто грузоперевозки",
      info: "Международная доставка грузов немыслима без автомобильного транспорта. Автомобильный транспорт обладает рядом преимуществ, которые и сделали его столь популярным: высокая скорость перевозки. Современные автомобили приспособлены для перевозки грузов любых категорий: опасных, негабаритных, скоропортящихся, термических и т.д.; доставка «от двери до двери». "
    },
        {
      link: "#",
      title: "Ж/Д ПЕРЕВОЗКИ",
      path: "content",
      name: "train",
      format:"jpg",
      width:"244",
      height:"373",
      altText:"train",
      infoTitle: "Ж/Д ПЕРЕВОЗКИ",
      info: "Международная перевозка крупных партий грузов вглубь материков осуществляется, как правило, железнодорожным транспорт. Железная дорога — это образец пунктуальности, точного расчета и слаженных действий тысяч людей; всепогодность. Железнодорожный транспорт слабо подвержен влиянию погодных явлений и осуществляет свою деятельность круглый год. Подвижный состав способен перевозить любые грузы. Стоимость перевозки груза по жд часто выходит дешевле, чем автотранспортом. "
    },
    {
      link: "#",
      title: "Морские грузоперевозки",
      path: "content",
      name: "water",
      format:"jpg",
      width:"244",
      height:"373",
      altText:"water",
      infoTitle: "Морские грузоперевозки",
      info: "Международные грузовые перевозки невозможно представить без морского транспорта.Преимущества: грузоподъемность. Сотни тысяч тонн грузов может перевезти за один раз современный контейнеровоз. Суда меньших размеров перевозят тысячи тонн; стоимость доставки. Это самый доступный способ грузоперевозки, ведь чем крупнее партия, тем меньше стоимость доставки единицы груза; безопасность. "
    },
  ]
