-
  var modulesData = [
    {
      link: "#",
      title: "Ж/Д ПЕРЕВОЗКИ",
      path: "content",
      name: "train",
      format:"jpg",
      width:"244",
      height:"373",
      altText:"train",
      infoTitle: "Ж/Д перевозки",
      info: "Удобный и надежный вид доставки груза на значительные расстояния и в труднодоступные районы. Мы предоставляем услуги железнодорожных перевозок грузов разных типов, под задачи вашего бизнеса"
    },
    {
      link: "#",
      title: "АВИАПЕРЕВОЗКИ",
      path: "content",
      name: "air",
      format:"jpg",
      width:"244",
      height:"373",
      altText:"air",
      infoTitle: "Авиаперевозки",
      info: "Авиаперевозки в настоящее время пользуются довольно большим спросом. Они используются в основном для доставки скоропортящихся и ценных грузов или же при необходимости быстро транспортировать товар"
    },
    {
      link: "#",
      title: "МОРСКИЕ ПЕРЕВОЗКИ",
      path: "content",
      name: "water",
      format:"jpg",
      width:"244",
      height:"373",
      altText:"water",
      infoTitle: "Морские перевозки",
      info: "К главной особенности данного вида перевозок можно отнести то, что перевозимый груз помещается в универсальные контейнеры, которые можно перевозить не только на морских судах, но и по железной или автомобильной дороге. А это значит,  что после доставки морем, груз можно поместить на Ж/Д пути без перетарки"
    },
  ]
