-
  var sliderData = [
    {
      path: "content/slider",
      name: "bg5",
      format:"jpg",
      width:"271",
      height:"271",
      altText:"2"
    },
    {
      path: "content/slider",
      name: "bg2",
      format:"jpg",
      width:"271",
      height:"271",
      altText:"2"
    },
    {
      path: "content/slider",
      name: "bg3",
      format:"jpg",
      width:"271",
      height:"271",
      altText:"2"
    },
  ]
